# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
ENV/
env/

# ======================
# Runtime / Generated
# ======================
TempUploads/
Result/
Head_swap/

# ======================
# Build outputs
# ======================
build/
dist/
*.pkg
*.spec

# ======================
# Qt / PySide
# ======================
*.dll
*.pyd
*.pak

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
desktop.ini